/* color palette options */
.grey {
  color: #fff !important;
  background: #929292 !important;
}
.red {
  color: #fff !important;
  background: #f44336 !important;
}
.blue {
  color: #fff !important;
  background: #0377fb !important;
}
.orange {
  color: #fff !important;
  background: #f4a236 !important;
}


/* default basic styles */
*, *:focus, *:hover{
  outline: none;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 13.3333px;
  margin: 0;
  width: max-content;
}
#actions-page {
  display: block;
  text-align: center;
  margin: 12px 0;
}
#currwin-page {
  display: none;
  width: 468px;
}

.tab-bar {
  width: 100%;
  overflow: hidden;
  color: #fff;
  background: #929292;
}
.tab-bar .tab-button {
  display: inline-block;
  font-size: 14px;
  padding: 8px 12px;
  border: none;
  color: inherit;
  background: #929292;
}
.tab-bar #actions-tab {
  background: #3688f4;
}


/* action page styles */
.action-button {
  display: block;
  border: 0;
  color: #fff;
  margin: 8px auto;
}
#toggle-button {
  width: auto;
  height: 30px;
  padding: 2px 10px;
}
#merge-button,
#sort-button {
  display: inline-block;
  width: 90px;
  margin-top: 4px;
  white-space: nowrap;
  padding: 6px 8px;
  background: #f4a236;
}
#merge-button:hover,
#sort-button:hover {
  background: #ea8b0d;
}
#merge-button:active,
#sort-button:active {
  background: #f4a236;
}
#kill-button {
  width: auto;
  height: 30px;
  padding: 2px 10px;
  background: #f44336;
}
#kill-button:hover {
  background: #981208;
}
#kill-button:active {
  background: #f44336;
}


/* curr-win search */
#currwin-search {
  width: 100%;
  font-family: Tahoma, sans-serif;
  font-size: 13.3333px;
  border: none;
  border-bottom: 1px solid #929292;
  box-sizing: border-box;
  padding: 8px;
}
/* curr-win list */
.site-list {
  padding: 0;
  margin: 0;
  width: 468px;
  color: #000;
  list-style: none;
}
/* .site-item {} */
.info-text {
  display: inline-block;
  padding: 0 8px;
  width: 419px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.close-btn {
  width: 33px;
  height: 33px;
  border: none;
  color: #fff;
  background: #f44336;
  border: 1px solid #f6665b;
}
.site-item:hover {
  color: #fff;
  background: #b8b8b8;
}
.site-item:hover > .close-btn {
  background: #e31b0c;
}
.close-btn:hover {
  background: #981208 !important;
}
.site-icon {
  width: 13.3333px;
  margin-right: 6px;
}

/** drag mirror effect **/
.gu-mirror {
  list-style: none;
}
.gu-mirror .info-text {
  display: inline-block;
  padding: 0 8px;
  width: 419px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.gu-mirror .close-btn {
  width: 33px;
  height: 33px;
  border: none;
  color: #fff;
  background: #f44336;
  border: 1px solid #f6665b;
}
