.grey {
  color: #fff !important;
  background: #929292 !important;
}
.red {
  color: #fff !important;
  background: #f44336 !important;
}
.blue {
  color: #fff !important;
  background: #0377fb !important;
}
.orange {
  color: #fff !important;
  background: #fb8703 !important;
}

body {
  margin: 0;
  width: max-content;
  text-align: center;
}

.tab-bar {
  width: 100%;
  overflow: hidden;
  margin: 0 auto 5px 0;
}
.tab-bar .tab-button {
  display: block;
  padding: 8px 12px;
  float: left;
  border: none;
  color: inherit;
  background: inherit;
}

.action-button {
  display: block;
  border: 0;
  margin: 0 auto 5px auto;
}
#toggle-button {
  width: auto;
  height: 30px;
  color: #fff;
  padding: 2px 10px;
}
#merge-button,
#sort-button {
  width: 90px;
  white-space: nowrap;
  padding: 6px 8px;
  color: #fff;
  background: #fb8703;
}
#merge-button:hover,
#sort-button:hover {
  background: #fb7203;
}
#merge-button:active,
#sort-button:active {
  background: #fb9c03;
}